@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus {
  outline: solid 1px rgb(183, 183, 183);
}

a {
  color: rgb(69, 69, 69);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.link {
  position: relative;
  transition-duration: 0.2s;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.input {
  padding: 0.5rem;
  border-radius: 5px;
  transition-duration: 0.2s;
  font-size: 1rem;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(210, 210, 210);
}
.input:focus {
  border: solid 1px rgb(171, 171, 171);
}
.input:hover {
  border: solid 1px rgb(171, 171, 171);
}

.btn {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  transition-duration: 0.2s;
  border: solid 1px rgb(210, 210, 210);
  box-shadow: 0 0 5px rgb(211, 211, 211);
}
.btn:focus {
  border: solid 1px rgb(171, 171, 171);
}
.btn:hover {
  border: solid 1px rgb(171, 171, 171);
}

.postcard {
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(221, 221, 221);
  border-radius: 5px;
  animation: post-appear 0.5s forwards;
}
.postcard__header {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postcard__header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.postcard__header__user__photo {
  border-radius: 50px;
  overflow: hidden;
  background-color: rgb(200, 200, 200);
  background-color: white;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
}
.postcard__header__user__photo img {
  height: 100%;
}
.postcard__header__options {
  cursor: pointer;
  position: relative;
}
.postcard__header__options__strong {
  font-size: 30px;
  color: rgb(204, 204, 204);
  transition-duration: 0.2s;
}
.postcard__header__options__strong:hover {
  color: black;
}
.postcard__header__options__menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: white;
  right: 0;
  box-shadow: 0 0 10px rgb(194, 194, 194);
}
.postcard__header__options__menu ul {
  padding: 0;
  margin: 0;
}
.postcard__header__options__menu ul li {
  display: inline-block;
  padding: 0.2rem 2rem;
}
.postcard__header__options__menu ul li:hover {
  background-color: rgb(224, 224, 224);
}
.postcard__date {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: rgb(151, 151, 151);
}
.postcard__content {
  padding: 0 1rem 0.5rem;
}
.postcard__edit {
  padding: 0 1rem;
}
.postcard__edit__content {
  width: 100%;
}
.postcard__edit__btns {
  display: flex;
  gap: 0.5rem;
}
.postcard__media img {
  width: 100%;
}
.postcard__optionbar {
  margin-top: 1rem;
  border-bottom: solid 1px rgb(213, 213, 213);
  border-top: solid 1px rgb(213, 213, 213);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.postcard__optionbar div {
  cursor: pointer;
}
.postcard__optionbar__like {
  transition-duration: 0.2s;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.postcard__optionbar__like:hover {
  background-color: rgb(239, 239, 239);
}
.postcard__optionbar__comment {
  transition-duration: 0.2s;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.postcard__optionbar__comment:hover {
  background-color: rgb(239, 239, 239);
}
.postcard__optionbar__share {
  transition-duration: 0.2s;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.postcard__optionbar__share:hover {
  background-color: rgb(239, 239, 239);
}
.postcard__comments {
  transition-duration: 0.5s;
  max-height: 0;
  overflow-y: auto;
  position: relative;
  margin-bottom: 1rem;
}
.postcard__comments__comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.add__comment {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 0rem 1rem;
  width: 100%;
  display: grid;
  background: linear-gradient(to bottom, rgb(197, 197, 197), rgba(255, 255, 255, 0.814));
  grid-template-columns: 43px 1fr auto;
  gap: 0.5rem;
}
.add__comment__image {
  height: 43px;
  width: 43px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px gray;
  background-color: white;
  display: flex;
  justify-content: center;
}
.add__comment__image img {
  height: 100%;
}

.set__visible {
  animation: unfold_comments 0.2s forwards;
}

@keyframes unfold_comments {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
@keyframes post-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.commentcard {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(221, 221, 221);
  animation: post-appear 0.5s forwards;
}
.commentcard__header {
  display: flex;
  padding: 1rem 1rem 0.25rem 1rem;
  align-items: center;
  gap: 1rem;
}
.commentcard__header__photo {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
}
.commentcard__header__photo img {
  height: 100%;
}
.commentcard__date {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: rgb(151, 151, 151);
}
.commentcard__content {
  padding: 0.25rem 1rem 1rem 1rem;
  font-size: 0.9rem;
}

.liked {
  background-color: rgb(109, 208, 238);
}
.liked:hover {
  background-color: rgb(89, 182, 211);
}

.prev {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.next {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.navbar {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(211, 211, 211);
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.navbar__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  transition-duration: 0.2s;
}
.navbar__list__logo {
  display: inline-block;
  padding: 1rem 0;
}
.navbar__list__item {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  font-weight: bold;
}
.navbar__list__item__image {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(221, 221, 221);
  display: flex;
  justify-content: center;
}
.navbar__list__item__image img {
  height: 100%;
}
.navbar__list__item__link {
  color: black;
}
.navbar__menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  cursor: pointer;
}

.navbar-appear {
  max-height: 500px !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .navbar__menu {
    display: block;
  }
  .navbar__list {
    flex-direction: column;
  }
  .navbar__options {
    max-height: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar__menu {
    display: block;
  }
  .navbar__list {
    flex-direction: column;
    gap: 0rem;
  }
  .navbar__list__item {
    cursor: pointer;
    transition-duration: 0.2s;
  }
  .navbar__options {
    max-height: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar__menu {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .navbar__menu {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .navbar__menu {
    display: none;
  }
}
@media (min-width: 1501px) {
  .navbar__menu {
    display: none;
  }
}
.main {
  margin: 1rem 0;
}
.main__header {
  margin: 0 0 1rem;
}
.main__posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__background {
  background: rgb(83, 246, 211);
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
}
.login__form {
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  width: 30%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  gap: 0.5rem;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(221, 221, 221);
  animation: appear 0.5s forwards;
}
.login__form label {
  font-weight: 200;
}
.login__form__btn {
  align-self: left;
}
.login__form__link {
  font-size: 0.8rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .login__form {
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .login__form {
    width: 70%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .login__form {
    width: 50%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .login__form {
    width: 40%;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .login__form {
    width: 30%;
  }
}
@media (min-width: 1501px) {
  .login__form {
    width: 30%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.register__background {
  background: rgb(158, 249, 158);
}

.user {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
}
.user__header {
  border: solid 1px rgb(221, 221, 221);
  box-shadow: 0 0 5px rgb(211, 211, 211);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: appear 0.5s;
}
.user__header__image {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.user__header__image img {
  height: 100%;
}
.user__sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 1rem;
  position: sticky;
  top: calc(57px + 1rem);
  z-index: 1;
  animation: appear 0.5s;
}
.user__sections div {
  padding: 1rem;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 5px rgb(211, 211, 211);
}
.user__sections div:hover {
  background-color: rgb(213, 213, 213);
}
.user__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user__rightmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  gap: 1rem;
}
.user__rightmenu__options {
  transition-duration: 0.5s;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user__rightmenu__options button {
  align-self: flex-end;
}
.user__rightmenu__main {
  align-self: flex-end;
}

.show-options {
  max-height: 1000px;
}

dialog {
  position: fixed;
  z-index: 1;
}
dialog::backdrop {
  background: rgba(69, 69, 69, 0.278);
}

.dialog {
  inset: 10%;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 5px;
  animation: appear 0.5s;
}
.dialog__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dialog__header__close {
  cursor: pointer;
  transition-duration: 0.2s;
  color: black;
}
.dialog__header__close:hover {
  color: gray;
}

.active {
  background-color: rgb(231, 231, 231) !important;
}

.change-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.change-profile-picture__preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.change-profile-picture__preview img {
  height: 100%;
  box-shadow: 0 0 50px;
}
.change-profile-picture input[type=file] {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dialog {
    inset: 0 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .dialog {
    inset: 0 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .dialog {
    inset: 0 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .dialog {
    margin: 0 15%;
  }
}
.create-post {
  animation: appear 0.5s;
}
.create-post__header {
  margin: 1rem 0;
}
.create-post__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-post__form__textarea {
  resize: none;
}
.create-post__form__images {
  text-align: center;
  display: flex;
  gap: 1rem;
}
.create-post__form__file {
  padding: 0.5rem;
  border-radius: 5px;
  transition-duration: 0.2s;
  font-size: 1rem;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border: solid 1px rgb(210, 210, 210);
  text-align: center;
  font-weight: bold;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.create-post__form__file:focus {
  border: solid 1px rgb(171, 171, 171);
}
.create-post__form__file:hover {
  border: solid 1px rgb(171, 171, 171);
}
.create-post__form #file {
  display: none;
}

@keyframes appear {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
.little-image {
  animation: appear 0.5s;
  background-color: rgb(220, 220, 220);
  position: relative;
  cursor: pointer;
}
.little-image__delete {
  z-index: 1;
  box-shadow: 0 0 2px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
  transform: translate(50%, -50%);
}
.little-image__image {
  height: 50px;
  width: 50px;
  overflow: hidden;
  box-shadow: 0 0 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.little-image__image img {
  height: 50px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.universal-padding {
  padding: 0 25%;
}

.notification {
  transform: scale(0);
  transition-duration: 0.5s;
  z-index: 1;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.758);
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
}
.notification__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification__header__close {
  font-size: 30px;
  cursor: pointer;
}

.notification-failure {
  background-color: rgb(253, 137, 137);
}

.notification-success {
  background-color: rgb(128, 232, 118);
}

.notification-appear {
  transform: scale(1);
}

.loading-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  font-size: 50px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page__title::after {
  content: "Hello";
  animation: loading-animation infinite 2s;
}

@keyframes loading-animation {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220);
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .universal-padding {
    padding: 0 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .universal-padding {
    padding: 0 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .universal-padding {
    padding: 0 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .universal-padding {
    padding: 0 15%;
  }
}

/*# sourceMappingURL=style.css.map */
