.create-post {
  animation: appear 0.5s;
  &__header {
    margin: 1rem 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__textarea {
      resize: none;
    }
    &__images {
      text-align: center;
      display: flex;
      gap: 1rem;
      div {
      }
    }
    &__file {
      padding: 0.5rem;
      border-radius: 5px;
      transition-duration: 0.2s;
      font-size: 1rem;
      box-shadow: $default-box-shadow;
      border: solid 1px $ib-border-color;
      text-align: center;
      font-weight: bold;
      background-color: rgb(230, 230, 230);
      &:focus {
        border: solid 1px $ib-border-focus;
      }
      &:hover {
        border: solid 1px $ib-border-focus;
      }
      cursor: pointer;
    }
    #file {
      display: none;
    }
  }
}

@keyframes appear {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.little-image {
  animation: appear 0.5s;
  background-color: rgb(220, 220, 220);
  position: relative;
  cursor: pointer;
  &__delete {
    z-index: 1;
    box-shadow: 0 0 2px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    transform: translate(50%, -50%);
  }
  &__image {
    height: 50px;
    width: 50px;
    overflow: hidden;
    box-shadow: 0 0 2px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    img {
      height: 50px;
    }
  }
}
