$ib-border-color: rgb(210, 210, 210);
$ib-border-focus: rgb(171, 171, 171);
$ib-border-hover: rgb(104, 104, 104);

$default-border: solid 1px rgb(221, 221, 221);
$default-box-shadow: 0 0 5px rgb(211, 211, 211);

* {
  &:focus {
    outline: solid 1px rgb(183, 183, 183);
  }
}

a {
  color: rgb(69, 69, 69);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link {
  position: relative;
  transition-duration: 0.2s;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.input {
  padding: 0.5rem;
  border-radius: 5px;
  transition-duration: 0.2s;
  font-size: 1rem;
  box-shadow: $default-box-shadow;
  border: solid 1px $ib-border-color;
  &:focus {
    border: solid 1px $ib-border-focus;
  }
  &:hover {
    border: solid 1px $ib-border-focus;
  }
}
.btn {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  transition-duration: 0.2s;
  border: solid 1px $ib-border-color;
  box-shadow: $default-box-shadow;
  &:focus {
    border: solid 1px $ib-border-focus;
  }
  &:hover {
    border: solid 1px $ib-border-focus;
  }
}
